html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a:hover {
    text-decoration: none;
}

.content {
    flex: 1 0 auto;
    width: 100%;
    transition: all 0.3s;
}

.footer {
    flex-shrink: 0;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

 
.wrapper {
    display: block;
}

.dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all .3s;
    background: #444;
    border-radius: 4px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    transform: rotateZ(0deg);
}
 
.dismiss:hover,
.dismiss:focus {
    background: #555;
    color: #fff;
}

.sidebar:not(.active) .dismiss {
    right: -50px;
    transform: rotateZ(180deg);
}

.navbar {
    z-index: 99;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
}
 
/***** Sidebar *****/
 
.sidebar {
    width: 250px;
    height: calc(100vh - 55px);
    position: fixed;
    top: 55px;
    left: -255px;
    z-index: 98;
    color: #fff;
    transition: all .3s;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
    text-align: left;
}
 
.sidebar.active {
    left: 0;
}

.sidebar .logo {
    padding: 40px 20px;
    border-bottom: 1px solid #fff;
    transition: all .3s;
}

.sidebar ul.menu-elements {
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    transition: all .3s;
}
 
.sidebar ul li a {
    display: block;
    padding: 10px 20px;
    border: 0;
    color: #fff;
}

.sidebar ul li li {
    padding-left: 30px;
}
 
.sidebar ul li a:hover {
    outline: 0;
    background: #f8f9fa;
    color: #000;
}
 
.sidebar ul li a i {
    margin-right: 5px;
}

 
.sidebar a[data-toggle="collapse"] {
    position: relative;
}
 
.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 575px) {
    nav .navbar-brand {
        font-size: calc(8% + 3vw);
        margin-right: 2px;
    }
}