{% from "_form.html" import render_field %}
{% extends '_base.html' %}

{% block navbar %}
{{super()}}
<nav class="sidebar bg-dark active">
    <div class="dismiss toggleSidebar">
        <i class="fas fa-arrow-left"></i>
    </div>
    <div class="logo">
        <h3>My Account</h3>
    </div>
    <ul class="list-unstyled menu-elements">
        <li>
            <a class="scroll-link" href="#details"><i class="fas fa-home"></i>Account Details</a>
        </li>
        <li>
            <a href="#venueDrop" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button" aria-controls="venueDrop">
                <i class="fas fa-store-alt"></i> My Venues
            </a>
            <ul class="collapse list-unstyled" id="venueDrop">
                {% if profile["venues"] %}
                    {% for venue in profile["venues"] %}
                    <li><a class="scroll-link" href="#venue-{{venue[0]}}">{{venue[1]}}</a></li>
                    {% endfor %}
                {% endif %}
                {% if profile["venueCount"] < profile["allowedCount"] %}<li><a class="scroll-link" href="#create-venue">Create venue</a></li>{% endif %}
            </ul>
        </li>
        <li>
            <a class="scroll-link" href="#subscription"><i class="fas fa-wallet"></i> My Subscription</a>
        </li>
        <li>
            <a class="scroll-link" href="/logout"><i class="fas fa-user-slash"></i> Logout</a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    $(document).ready(function() {
        $('.toggleSidebar').on('click', function() {
            $('.sidebar').toggleClass('active')
            $('.sidebar .collapse.show').toggleClass('show');
            $('.sidebar a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });

    function hashchange(e) {
        $('.content > div').addClass("d-none");
        $(window.location.hash).removeClass("d-none");
        if ($(window.location.hash).length == 0) window.location.hash = "details";
    }

    $( window ).on( 'hashchange', hashchange);
    {% if path %}window.location.hash = "{{path}}";{% endif %}
    hashchange()

</script>
{% endblock %}

{% block content %}
<div class="container d-none py-md-5 py-1" id="details">
    <h1>Account Details</h1>
    <p>
        <b>Username:</b> {{profile["username"]}}<br>
        <b>Email:</b> {{profile["email"]}}<br>
        <b>Subscription Plan:</b> {{profile["tierName"]}}<br>
        <b>Number of Venues:</b> {{profile["venueCount"]}} / {{profile["allowedCount"]}}
    </p>
</div>

<div class="container d-none py-md-5 py-1" id="create-venue">
    <h1>Create Venue</h1>
    <div class="text-center">
        <form method=post>
            <dl>
              {% if venueForm %}
              {{ render_field(venueForm.name) }}
              {{ render_field(venueForm.venue) }}
              {% endif %}
            </dl>
            <input type=submit value="Create Venue">
          </form>
    </div>
</div>

{% for venue in profile["venues"] %}
<div class="container d-none py-md-5 py-1" id="venue-{{venue[0]}}">
    <h1>{{venue[1]}}</h1>
    <p>
        <b>Total Number of Customers:</b> {{venue[2]}} / {{profile["userCap"]}}<br>
        <b>Total Number of Low repeat Customers:</b> {{venue[3]}}<br>
        <b>Total Number of High repeat Customers:</b> {{venue[4]}}<br><br>
        <a href="/display?id={{venue[0]}}">Get QR Code</a><br>
    </p>
    <form method=post class="d-inline">
        <input id="delete-ven" name="modify-ven" type="hidden" value="">
        <input id="id" name="id" type="hidden" value="{{venue[0]}}">
        <input id="name" name="name" placeholder="Venue Name" required type="text" value="{{venue[1]}}">
        <input type=submit value="Rename">
      </form>
    <form method=post class="d-inline">
        <input id="delete-ven" name="delete-ven" type="hidden" value="">
        <input id="id" name="id" type="hidden" value="{{venue[0]}}">
        <input type=submit value="Delete">
      </form>
</div>
{% endfor %}

<div class="container d-none py-md-5 py-1" id="subscription">
    <h1>Your Subscription:</h1>
    <p>
        <b>Your Plan:</b> {{profile["teirName"]}}<br>
        <b>Your Allowance:</b> {{profile["teirName"]}}<br>
        <b>- Venues: </b> {{profile["venueCount"]}} / {{profile["allowedCount"]}}<br>
        <b>- Customers: </b> {{profile["userAvg"]}} / {{profile["userCap"]}}<br>
    </p>
    <form method=post class="d-inline">
        <input id="upgrade-sub" name="upgrade-sub" type="hidden" value="">
        <input type=submit value="Upgrade">
      </form>
      <form method=post class="d-inline">
        <input id="downgrade-sub" name="downgrade-sub" type="hidden" class="d-inline" value="">
        <input type=submit value="Downgrade" class="d-inline">
      </form>
</div>
{% endblock %}