<!doctype html>
	<head>
		<style>
			/* CSS comes here */
			body {
			    padding:20px;
			}
			.qr-btn {
			    background-color:#8c52ff;
			    padding:8px;
			    color:white;
			    cursor:pointer;
			}
		</style>
		
		<title>Tracer - Code</title>
	</head>
	<body>
        <canvas id="qr-code"></canvas>
        <p>Or follow this link: <a id=link href=""></a></p>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
		<script>
			/* JS comes here */
			var qr;
			(function() {
                qr = new QRious({
                    element: document.getElementById('qr-code'),
                    size: 200,
                    value: '{{host}}venue?id='+getParam("id")
                });
                document.getElementById("link").setAttribute("href",'{{host}}venue?id='+getParam("id"))
                document.getElementById("link").innerHTML = '{{host}}venue?id='+getParam("id")
            })();

            function getParam(s) {
                queryString = window.location.search;
                urlParams = new URLSearchParams(queryString);
                return urlParams.get(s)
            }
		</script>
        
	</body>
</html>