{% extends '_base.html' %}

{% block content %}
<div class="container py-md-5 py-1">
    <h2>Frequently Asked Questions</h2>
    <div class="pl-md-3 pt-3">
        <h3 class="text-primary">Question</h3>
        <div class="blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper.</p>
        </div>
        <h3 class="text-primary pt-3">Question</h3>
        <div class="blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper.</p>
        </div>
        <h3 class="text-primary pt-3">Question</h3>
        <div class="blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper.</p>
        </div>
        <h3 class="text-primary pt-3">Question</h3>
        <div class="blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper.</p>
        </div>
        <h3 class="text-primary pt-3">Question</h3>
        <div class="blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper.</p>
        </div>
        <h3 class="text-primary pt-3">Question</h3>
        <div class="blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper.</p>
        </div>
        <h3 class="text-primary pt-3">Question</h3>
        <div class="blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper.</p>
        </div>
        <h3 class="text-primary pt-3">Question</h3>
        <div class="blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper.</p>
        </div>
    </div>
</div>
{% endblock %}