{% from "_form.html" import render_field %}
{% extends '_base.html' %}
{% block content %}
<div class="container py-md-5 py-1 text-center">
  <form method=post class="collapse" id="collapseRegister">
    <dl>
      {{ render_field(registerform.username) }}
      {{ render_field(registerform.email) }}
      {{ render_field(registerform.password) }}
      {{ render_field(registerform.confirm) }}
      {{ render_field(registerform.accept_tos) }}
      {{ render_field(registerform.register) }}
    </dl>
    <input type=submit value=Register>
    <p class="pt-4"><a class="" data-toggle="collapse" href=".collapse" role="button" aria-expanded="true" aria-controls="collapseLogin">I already have an account!</a></p>
  </form>
  
  <form method=post class="collapse show" id="collapseLogin">
    <dl>
      {{ render_field(loginform.username) }}
      {{ render_field(loginform.password) }}
      {{ render_field(loginform.login) }}
    </dl>
    <input type=submit value=Login>
    <p class="pt-4"><a data-toggle="collapse" href=".collapse" role="button" aria-expanded="false" aria-controls="collapseRegister">I need a new account!</a></p>
  </form>
</div>
{% endblock %}

{%block scripts%}
{{super()}}
{% if path == "register" %}
<script>$(".collapse").collapse("toggle")</script>
{% endif %}
{% endblock %}