{% extends '_base.html' %}

{% block content %}
<div class="container py-5 text-center">
    <p>
        Tier 1: Free<br>
        Tier 2: £5 per Month<br>
        Tier 3: £20 per Month
    </p>
</div>
{% endblock %}