{% from "_form.html" import render_field %}
{% extends '_base.html' %}

{% block navbar %}
{{super()}}
<nav class="sidebar bg-dark active">
    <div class="dismiss toggleSidebar">
        <i class="fas fa-arrow-left"></i>
    </div>
    <div class="logo">
        <h3>My Account</h3>
    </div>
    <ul class="list-unstyled menu-elements">
        <li>
            <a class="scroll-link" href="#details"><i class="fas fa-home"></i>Account Details</a>
        </li>
        <li>
            <a class="scroll-link" href="#venue-contact"><i class="fas fa-home"></i>Venue Contact Details</a>
        </li>
        {% if profile["tier"] == 1 %}
        <li>
            <a class="scroll-link" href="#new-staff"><i class="fas fa-home"></i>Create Staff Account</a>
        </li>
        {% endif %}
        <li>
            <a class="scroll-link" href="/logout"><i class="fas fa-user-slash"></i> Logout</a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    $(document).ready(function() {
        $('.toggleSidebar').on('click', function() {
            $('.sidebar').toggleClass('active')
            $('.sidebar .collapse.show').toggleClass('show');
            $('.sidebar a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });

    function hashchange(e) {
        $('.content > div').addClass("d-none");
        $(window.location.hash).removeClass("d-none");
        if ($(window.location.hash).length == 0) window.location.hash = "details";
    }

    $( window ).on( 'hashchange', hashchange);
    {% if path %}window.location.hash = "{{path}}";{% endif %}
    hashchange()

</script>
{% endblock %}

{% block content %}
<div class="container d-none py-md-5 py-1" id="details">
    <h1>Account Details</h1>
    <p>
        <b>Username:</b> {{profile["username"]}}<br>
        <b>Account Type:</b> {{profile["tierName"]}}<br>
    </p>
</div>

<div class="container d-none py-md-5 py-1" id="venue-contact">
    <h1>Get Venue Contact Details</h1>
    {% if not results %}
    <div class="text-center">
        <form method=post>
            <dl>
              {% if venueForm %}
              {{ render_field(venueForm.id) }}
              {{ render_field(venueForm.venue) }}
              {% endif %}
            </dl>
            <input type=submit value="Get Details">
          </form>
    </div>
    {% else %}
        <p>
        {% for result in results %}
            {{result}}<br>
        {% endfor %}
        </p>
    {% endif%}
</div>

<div class="container d-none py-md-5 py-1" id="new-staff">
    <h1>Create Staff Profile</h1>
    <div class="text-center">
        <form method=post>
            <dl>
              {% if staffForm %}
              {{ render_field(staffForm.username) }}
              {{ render_field(staffForm.password) }}
              {{ render_field(staffForm.confirm) }}
              {{ render_field(staffForm.register) }}
              {% endif %}
            </dl>
            <input type=submit value="Create Staff">
          </form>
    </div>
</div>
{% endblock %}