{% from "_form.html" import render_field %}
{% extends '_base.html' %}
{% block content %}
<div class="container py-md-5 py-1 text-center">
  <form method=post>
    <dl>
      {{ render_field(form.phone) }}
      {{ render_field(form.email) }}
      {{ render_field(form.venue) }}
      {{ render_field(form.venueContact) }}
    </dl>
    <input type=submit value=Register>
  </form>
</div>
{% endblock %}